aiohappyeyeballs==2.4.6
aiohttp==3.11.12
aiosignal==1.3.2
attrs==25.1.0
audioop-lts==0.2.1
beautifulsoup4==4.13.3
Brotli==1.1.0
bs4==0.0.2
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
comtypes==1.4.10
easyocr==1.7.2
filelock==3.17.0
frozenlist==1.5.0
fsspec==2025.2.0
g4f==0.5.0.2
git-filter-repo==2.47.0
h11==0.14.0
idna==3.10
imageio==2.37.0
Jinja2==3.1.5
joblib==1.4.2
lazy_loader==0.4
MarkupSafe==3.0.2
MouseInfo==0.1.3
mpmath==1.3.0
multidict==6.1.0
nest-asyncio==1.6.0
networkx==3.4.2
ninja==1.11.1.3
nltk==3.9.1
numpy==2.2.3
opencv-python-headless==4.11.0.86
outcome==1.3.0.post0
packaging==24.2
pillow==11.1.0
plyer==2.1.0
propcache==0.3.0
PyAudio==0.2.14
PyAutoGUI==0.9.54
pyclipper==1.3.0.post6
pycparser==2.22
pycryptodome==3.21.0
PyGetWindow==0.0.9
PyMsgBox==1.0.9
pyperclip==1.9.0
pypiwin32==223
PyRect==0.2.0
PyScreeze==1.0.1
PySocks==1.7.1
python-bidi==0.6.6
python-dotenv==1.0.1
pyttsx3==2.98
pytweening==1.2.0
pywin32==308
PyYAML==6.0.2
redis==5.2.1
regex==2024.11.6
requests==2.32.3
schedule==1.2.2
scikit-image==0.25.2
scipy==1.15.2
selenium==4.28.1
setuptools==75.8.0
shapely==2.0.7
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
SpeechRecognition==3.14.1
spotipy==2.25.1
standard-aifc==3.13.0
standard-chunk==3.13.0
sympy==1.13.1
tifffile==2025.2.18
torch==2.6.0
torchvision==0.21.0
tqdm==4.67.1
trio==0.29.0
trio-websocket==0.11.1
typing_extensions==4.12.2
undetected-chromedriver==3.5.5
urllib3==2.3.0
webdriver-manager==4.0.2
websocket-client==1.8.0
websockets==15.0
wsproto==1.2.0
yarl==1.18.3
